body, header, article, footer, ul, li, h2, h3, a, label {
  color: black;
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
}

li {
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

#alert {
  background: white;
  color: red;
  animation: blink 1s 3;
  display: block;
  margin: 0 auto;
  text-align: center;
}

header {
  background: #888888;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9998;
  
  .app-name {
    width: 165px;
    height: 100px;
    margin: 0 auto;
    
    a {
      line-height: 100px;
    }
  }
  
  .user-image {
    width: 80px;
    height: 80px;
    border: solid 4px white;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    cursor: hand;
    position: fixed;
    top: 6px;
    right: 66px;
    transition: transform 0.5s ease 0s, border 0.3s ease 0s;
    z-index: 9999;
    &:hover {
      border: solid 4px #6495ED;
    }
  }
    
  .user-btn {
    // display: none;
    height: 88px;
    width: 58px;
    padding-right: 30px;
    border-radius: 44px;
    background: white;
    display: block;
    opacity: 1;
    text-align: right;
    position: fixed;
    top: 6px;
    // right: -280px;
    right: 66px;
    transition: width 0.5s ease 0s;
    overflow: hidden;
    
    li {
      display: none;
      line-height: 88px;
    }
  }
  // ------------------------------------
  #user-image:checked {
    ~.user-image {
    transform: translateX(-320px);
    }
    
    ~.user-btn {
      // display: block;
      // opacity: 1;
      // transform: translateX(-330px);
      width: 370px;
      padding-right: 30px;
      
      li {
        display: inline-block;
        padding: 0 5px;
        
        a {
          // display: block;
          padding : 4px;
          border: solid 2px #C2EEFF;
          border-radius: 4px;
          background: #C2EEFF;
          transition: background 0.5s ease 0s;
          &:hover {
          background: #6495ED;
          color: white;
          }
        }
      }
    }
  }
  // ------------------------------------
  #user-image {
    display: none;
  }
}

article {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  
  .container {
    background: #C2EEFF;
    padding: 25px 0;
    margin: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    border-radius: 6px;
    position: relative;
    animation-name: SlideDown;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    transition: background 0.5s ease 0s, transform 0.5s ease 0s;
    &:hover {
      background: #6495ED;
      transform: translateX(-10px);
    }
    
    .tweet-title {
      width: 760px;
      padding-left: 50px;
      text-align: left;
      overflow: hidden;
      
      .rate-box {
        ul li {
          display: inline-block;
        }
      }
      
      h2 {
        color: black;
        text-align: left;
      }
    }
    
    .currency-pair {
      float: left;
      margin-left: 30px;
      
      .currency {
        width: 80px;
        height: 50px;
        background-size: cover;
        box-shadow: 2px 2px 4px #6495ED
      }
      
      .margin-currency {
        width: 45px;
        height: 30px;
        background-size: cover;
        position: absolute;
        top: 75px;
        left: 85px;
        box-shadow: 2px 2px 4px #6495ED
        }
      
      h3 {
        text-align: center;
        color: black;
      }
    }
    
    .tweet-poster {
      width: 104px;
      height: 93px;
      position: absolute;
      right: 30px;
      top: 20px;
      text-align: center;
      
      .poster-image {
        width: 70px;
        height: 70px;
        border: solid 2px white;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    
    .tweet-btn {
      float: right;
      width: 70px;
      margin-right: 65px;
      text-align: center;
      box-shadow: 5px 10px 20px #6495ED;
      &:hover {
        background: #B0C4DE;
      
        ul {
          width: 70px;
          display: inline-block;
          
          li:hover {
            background: #6495ED;
          }
        }
      }
      
      ul {
        display: none;
      }
    }
    
    .slick {
      background: white;
      width: 800px;
      height: 400px;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #6495ED;
      
      img {
        width: 800px;
        height: 400px;
        object-fit: cover;
      }
    }
    
    .text {
      background: white;
      width: 800px;
      height: 300px;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #6495ED;
      color: black;
      font-family: sans-serif;
    }
  }
  
  .poster-nickname {
    margin: 10px auto 0;
    text-align: center;
    color: black;
    
    a {
      text-decoration: underline;
    }
  }
}

@-webkit-keyframes SlideDown {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  
  100% {
    opacity: 1;
  }
}

#show {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  
  .container {
    background: #C2EEFF;
    padding: 25px 0;
    margin: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    border-radius: 6px;
    position: relative;
    
    .tweet-title {
      width: 760px;
      padding-left: 50px;
      text-align: center;
      overflow: hidden;
      
      .rate-box {
        ul li {
          display: inline-block;
        }
      }
      
      h2 {
        font-size: 250%;
        font-family: "Times New Roman";
        text-align: center;
        color: black;
      }
    }
    
    .currency-pair {
      float: left;
      margin-left: 30px;
      
      .currency {
        width: 120px;
        height: 80px;
        background-size: cover;
        box-shadow: 2px 2px 4px #6495ED
      }
      
      .margin-currency {
        width: 70px;
        height: 47px;
        background-size: cover;
        position: absolute;
        top: 95px;
        left: 100px;
        box-shadow: 2px 2px 4px #6495ED
        }
      
      h3 {
        text-align: center;
        color: black;
      }
    }
    
    .tweet-btn {
      float: right;
      width: 70px;
      margin-right: 65px;
      text-align: center;
      box-shadow: 5px 10px 20px #6495ED;
      &:hover {
        background: #B0C4DE;
      
        ul {
          width: 70px;
          display: inline-block;
          
          li:hover {
            background: #6495ED;
          }
        }
      }
      
      ul {
        display: none;
      }
    }
    
    .slick {
      background: white;
      width: 800px;
      height: 400px;
      margin: 30px auto 0;
      box-shadow: 2px 2px 4px #6495ED;
      
      img {
        width: 800px;
        height: 400px;
        object-fit: cover;
      }
    }
    
    .text {
      background: white;
      width: 800px;
      height: 300px;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #6495ED;
      color: black;
    }
  }
  
  .poster-nickname {
    margin: 10px auto 0;
    text-align: center;
    color: black;
    
    a {
      text-decoration: underline;
    }
  }
}

footer {
  background: #333333;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  line-height: 50px;
}

.devise-wrapper {
  background: #B0C4DE;
  width: 1000px;
  margin: 50px auto 0;
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .field {
    margin-top: 30px;
    
    input {
      text-align: center;
    }
  }
  
  .actions {
    input {
      width: 100px;
      height: 35px;
      margin: 30px;
      &:hover {
        background: #6495ED;
      } 
    }
  }
  
  #error_explanation {
    background: white;
    width: 800px;
    margin: 30px auto 0;
    animation: blink 1s 3;
    
    h2, ul li{
      color: red;
    }
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

.tweet-form-wrapper {
  background: #B0C4DE;
  width: 1000px;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .select-currency-field, .images-field, .text-field {
    margin-top: 20px;
  }
  
  textarea {
    font-size: 18px;
  }
}

.user-profile {
  background: #B0C4DE;
  width: 1300px;
  margin: 120px auto 0;
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .field {
    margin: 0 auto;
    padding: 0 10px;
    background: white;
    color: black;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    word-wrap: break-word;
    
    p {
      text-align: start;
      margin: 0;
    }
  }
  
  a {
    display: block;
    width: 80px;
    margin: 0 auto;
    box-shadow: 5px 10px 20px #6495ED;
    &:hover {
      background: #6495ED
    }
  }
  
  input {
    text-align: center;
    font-size: 18px;
  }
  
  .one-item {
    margin-top: 20px;
    
    textarea {
      resize: vertical;
    }
  }
}

.user-tweets {
  background: #B0C4DE;
  width: 1300px;
  padding: 20px 0;
  margin-top: 40px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  h2 {
    font-size: 25px;
  }
}

.pagination {
  text-align: center;
  color: black;
  
  a {
    color: black;
  }
}