body, header, article, footer {
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background: gray;
  height: 100px;
  width: 100%;
}

article {
  background: black;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  
  .container {
    background: gray;
    padding: 25px 0;
  
    .slick {
      background: orange;
      width: 800px;
      height: 400px;
      margin: 0 auto;
    }
    
    .text {
      background: pink;
      width: 800px;
      height: 300px;
      margin: 0 auto;
    }
  }
}

footer {
  background: gray;
  height: 50px;
  width: 100%;
}