body, header, article, footer, ul, li, h2, a, label {
  color: white;
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
}

li {
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

#alert {
  background: white;
  color: red;
  animation: blink 1s 3;
  text-align: center;
}

header {
  background: #888888;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  
  .app-name {
    width: 165px;
    height: 100px;
    margin-left: 30px;
    
    a {
      line-height: 100px;
    }
  }
  
  .user-btn {
    width: 140px;
    float: right;
    text-align: center;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    position: fixed;
    top: 35px;
    right: 50px;
    &:hover {
      background: #B0C4DE;
      
      .user-menu, .guest-menu {
        width: 140px;
        display: inline-block;
        background: #B0C4DE;
        
        li:hover {
          background: #6495ED;
        }
      }
    }
    
    .user-menu, .guest-menu {
      width: 100px;
      display: none;
    }
  }
}

article {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  
  .container {
    background: #C2EEFF;
    padding: 25px 0;
    margin: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    border-radius: 6px;
    position: relative;
    
    .currency_pair {
      float: left;
      margin-left: 30px;
      
      .currency {
        width: 120px;
        height: 80px;
        background-size: cover;
        box-shadow: 2px 2px 4px #6495ED
      }
      
      .margin_currency {
        width: 60px;
        height: 40px;
        background-size: cover;
        position: absolute;
        top: 100px;
        left: 110px;
        box-shadow: 2px 2px 4px #6495ED
        }
      
      h2 {
        color: black;
      }
    }
    
    .tweet-btn {
      float: right;
      width: 70px;
      margin-right: 65px;
      text-align: center;
      box-shadow: 5px 10px 20px #6495ED;
      &:hover {
        background: #B0C4DE;
      
        ul {
          width: 70px;
          display: inline-block;
          
          li:hover {
            background: #6495ED;
          }
        }
      }
      
      ul {
        display: none;
      }
    }
    
    .slick {
      background: white;
      width: 800px;
      height: 400px;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #6495ED;
      
      img {
        width: 800px;
        height: 400px;
        object-fit: cover;
      }
    }
    
    .text {
      background: white;
      width: 800px;
      height: 300px;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #6495ED;
      color: black;
    }
  }
  
  .poster-nickname {
    margin: 10px auto 0;
    text-align: center;
    color: black;
    
    a {
      text-decoration: underline;
    }
  }
}

footer {
  background: #333333;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  line-height: 50px;
}

.devise-wrapper {
  background: #B0C4DE;
  width: 1000px;
  margin: 50px auto 0;
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .field {
    margin-top: 30px;
    
    input {
      text-align: center;
    }
  }
  
  .actions {
    input {
      width: 100px;
      height: 35px;
      margin: 30px;
      &:hover {
        background: #6495ED;
      } 
    }
  }
  
  #error_explanation {
    background: white;
    width: 800px;
    margin: 30px auto 0;
    animation: blink 1s 3;
    
    h2, ul li{
      color: red;
    }
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

.tweet-form-wrapper {
  background: #B0C4DE;
  width: 1000px;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .select-currency-field, .images-field, .text-field {
    margin-top: 20px;
  }
  
  textarea {
    font-size: 18px;
  }
}

.user-profile {
  background: #B0C4DE;
  width: 1300px;
  margin: 120px auto 0;
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  .field {
    margin: 0 auto;
    padding: 0 10px;
    background: white;
    color: black;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    word-wrap: break-word;
    
    p {
      text-align: start;
      margin: 0;
    }
  }
  
  a {
    display: block;
    width: 80px;
    margin: 0 auto;
    box-shadow: 5px 10px 20px #6495ED;
    &:hover {
      background: #6495ED
    }
  }
  
  input {
    text-align: center;
    font-size: 18px;
  }
  
  .one-item {
    margin-top: 20px;
    
    textarea {
      resize: vertical;
    }
  }
}

.user-tweets {
  background: #B0C4DE;
  width: 1300px;
  padding: 20px 0;
  margin-top: 40px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  border-radius: 6px;
  
  h2 {
    font-size: 25px;
  }
}

.pagination {
  text-align: center;
  color: black;
  
  a {
    color: black;
  }
}